<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wy.farm.mapper.LandInfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.wy.farm.entity.LandInfo">
        <id column="id" property="id" />
        <result column="farm_id" property="farmId" />
        <result column="number" property="number" />
        <result column="name" property="name" />
        <result column="head_pic" property="headPic" />
        <result column="bg_pic" property="bgPic" />
        <result column="length" property="length" />
        <result column="width" property="width" />
        <result column="location" property="location" />
        <result column="price" property="price" />
        <result column="discount_price" property="discountPrice" />
        <result column="open" property="open" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="deleted" property="deleted" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, farm_id, number, name, head_pic, bg_pic, length, width, location, price, discount_price, open, create_time, update_time, deleted
    </sql>

</mapper>
