<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wy.farm.mapper.UserFarmBindingMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.wy.farm.entity.UserFarmBinding">
        <id column="id" property="id" />
        <result column="farm_id" property="farmId" />
        <result column="land_id" property="landId" />
        <result column="user_id" property="userId" />
        <result column="role_id" property="roleId" />
        <result column="binding_time" property="bindingTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, farm_id, land_id, user_id, role_id, binding_time
    </sql>

</mapper>
